<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>

body {
	font: 14px tahoma, Arial, Verdana, sans-serif;
	line-height:20px;
	color: #666666;
	background-color:#F5F5F5;
}

div.main{ 
 width:700px;
 height:400px;
 margin:50px auto;
 background-color:#FFFFFF;
 border:1px solid #DDDDDD;
 padding:20px;
 text-align:left;
}

p a { text-decoration:none; color:#666666; padding:5px 12px; background-color:#ffffff; font-size:14px; border:1px solid #dddddd; }
p a:hover{ border:1px solid #bbbbbb;}
}
</style>
<title>GXBlog>调整配置文件</title>
</head>

<body>
<div class="main">
<span>不错。您完成了安装过程中重要的一步，GXBlog 现在已经可以连接数据库了。如果您准备好了的话，现在就…</span>
<p><a href='./?step=3' target="_self">进行安装</a></p>
</div>
</body>
</html>
